In [2]:
import pandas as pd
import numpy as np
import cleaning_functions as cf
import re

In [3]:
df_analysis = pd.read_csv("data/sharkattack_limpio.csv")
df_analysis.head()

   Unnamed: 0 Country     Area Activity Month
0           0     USA  Florida  Surfing   Nov
1           1     USA  Florida  Surfing   Oct
2           2     USA  Florida  Surfing   Sep
3           3     USA  Florida  Surfing   Sep
4           4     USA  Florida  Surfing   Sep

## HIPÓTESIS: SON ATACADAS MAS PERSONAS QUE PRATICAN SURF EN FLORIDA(USA) POR TIBURÓN EN LA TEMPORADA PRIMAVERA-VERANO QUE EN LA TEMPORADA OTOÑO-INVIERNO

#### CATEGORIZO LOS MESES EN PRIMAVERA-VERANO Y OTOÑO-INVIERNO

In [9]:
df_analysis.Month.value_counts()

Sep    72
Oct    51
Apr    40
Nov    37
Aug    33
Jul    27
Jun    26
Mar    24
May    23
Dec    10
Feb     9
Jan     3
Name: Month, dtype: int64

In [3]:
#df_analysis.cut(np.array([Apr,Aug,Dec,Feb,Jan, Jul,Jun,Mar,May,Nov,Oct,Sep]),
      # 2, labels=["ss", "aw"])


    
    
    #pd.cut(np.array([1, 7, 5, 4, 6, 3]),
      # 3, labels=["bad", "medium", "good"])
#[bad,# good, medium, medium, good, bad]
#Categories (3, object): [bad < medium < good]

In [4]:
df_clean["estaciones"] = pd.cut(df_analysis.Month,
                                bins=[Apr,Aug,Dec,Feb,Jan, Jul,Jun,Mar,May,Nov,Oct,Sep] 
                                labels=["ss", "aw"]

SyntaxError: invalid syntax (<ipython-input-4-a4b9dc87b114>, line 3)