In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("data/attacks.csv",encoding="Latin-1")
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
print(df.shape)
print(list(df.columns))

(25723, 24)
['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

## HIPÓTESIS: SON ATACADAS MAS PERSONAS QUE PRATICAN SURF EN FLORIDA(USA) POR TIBURÓN EN LA TEMPORADA PRIMAVERA-VERANO QUE EN LA TEMPORADA OTOÑO-INVIERNO

#### REDUZCO EL NÚMERO DE COLUMNAS A LAS QUE ME INTERESAN PARA MI ESTUDIO

In [4]:
df_clean=df[['Date','Country', 'Area','Activity','Location']]

In [5]:
df_clean.head()

,Date,Country,Area,Activity,Location
0,25-Jun-2018,USA,California,Paddling,"Oceanside, San Diego County"
1,18-Jun-2018,USA,Georgia,Standing,"St. Simon Island, Glynn County"
2,09-Jun-2018,USA,Hawaii,Surfing,"Habush, Oahu"
3,08-Jun-2018,AUSTRALIA,New South Wales,Surfing,Arrawarra Headland
4,04-Jun-2018,MEXICO,Colima,Free diving,La Ticla

In [6]:
df_clean.shape

(25723, 5)

#### COMPRUEBO SI EXISTEN VALORES NULOS EN LA COLUMNA "DATE" Y PROCEDO A ELIMINARLOS YA QUE NO SON VÁLIDOS PARA MI ESTUDIO

In [7]:
df_clean.Date.isnull().sum()

19421

In [8]:
df_clean.drop(df_clean[df_clean.Date.isnull()].index, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
df_clean.shape

(6302, 5)

#### PRIMER BARRIDO DE REGISTROS DUPLICADOS

In [10]:
df_clean.duplicated().sum()

98

In [11]:
df_clean.drop(df_clean[df_clean.duplicated()].index, inplace = True)

In [12]:
# Compruebo que los registros se eliminan 
df_clean.duplicated().sum()

0

In [13]:
df_clean.shape

(6204, 5)

#### ESTUDIO DE LOS VALORES NULOS EN EL DATAFRAME

In [14]:
df_clean.isnull().sum()

Date          0
Country      49
Area        449
Activity    536
Location    529
dtype: int64

In [15]:
#Intento sacar información con la que pueda rellenar valores nulos

In [16]:
def search(x,y,z,h):
    return x[(x[y].isnull()) & (x[z].str.contains(h,regex=True))]

In [17]:
search(df_clean,"Area","Location",r"\bFlorida\b")
# Obtengo información. Sin embargo, mi estudio se centra en surfistas, por lo que lo obvio

,Date,Country,Area,Activity,Location
3605,21-Oct-1965,NaN,NaN,The boat Caribou II sank,Florida Strait
4026,Early summer 1960,CARIBBEAN SEA,NaN,Aircraft crashed into sea,"Between Key West, Florida & Guantanamo Bay, Cuba"

In [18]:
search(df_clean,"Area","Country",r"\bFlorida\b")
# No obtengo información

Empty DataFrame
Columns: [Date, Country, Area, Activity, Location]
Index: []

In [19]:
search(df_clean,"Country","Area",r"\b(USA|US)\b")
# No obtengo información

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [Date, Country, Area, Activity, Location]
Index: []

In [20]:
search(df_clean,"Country","Location",r"\b(USA|US)\b")
# Obtengo información. Sin embargo, mi estudio se centra en surfistas, por lo que lo obvio

Empty DataFrame
Columns: [Date, Country, Area, Activity, Location]
Index: []

In [21]:
# Elimino registros que son nulos

In [22]:
df_clean=df_clean.dropna()

In [23]:
df_clean.shape

(5033, 5)

In [25]:
# Compruebo que no existen mas valores nulos

df_clean.isnull().sum()

Date        0
Country     0
Area        0
Activity    0
Location    0
dtype: int64

#### ELIMINO LA COLUMNA DE "LOCATION" YA QUE LA HE USADO PARA INTENTAR OBTENER INFORMACIÓN PERO NO LA NECESITO DE NUEVO EN MI ESTUDIO

In [26]:
df_clean=df_clean.drop(["Location"], axis=1)

In [27]:
df_clean.shape

(5033, 4)

#### REDUZCO EL DATAFRAME A LAS ACTIVIDA DE "SURFING" EN FLORIDA (USA)

In [28]:
# Unifico los elementos que forman parte de surfistas en la columna "Activity"

In [29]:
df_clean.loc[df_clean["Activity"].str.contains("Surfing"),"Activity"] = "Surfing"

In [30]:
df_clean.shape

(5033, 4)

In [31]:
# Filtro con las condiciones especificadas

In [32]:
df_clean=df_clean[(df_clean["Activity"] == "Surfing") & (df_clean["Country"] == "USA") & (df_clean["Area"] == "Florida")]

In [33]:
df_clean.shape

(363, 4)

#### TRATAMIENTO DEL CAMPO "DATE"

In [34]:
# Analizo como se configura el campo fecha 
#print(set(df_clean.Date.values))

In [35]:
df_clean["Month"]= df_clean["Date"].str.extract(r"([ADSMJNOF][a-z]{2})").astype(np.str)

In [36]:
print(set(df_clean.Month.values))

{'Jul', 'Aug', 'Oct', 'Jan', 'Mar', 'Dec', 'nan', 'Sep', 'May', 'Jun', 'Nov', 'Feb', 'Apr'}

In [37]:
# Analizo los valores nulos

df_clean[(df_clean["Month"]=="nan")]

              Date Country     Area Activity Month
2460          1994     USA  Florida  Surfing   nan
2648          1990     USA  Florida  Surfing   nan
2908          1984     USA  Florida  Surfing   nan
3131          1978     USA  Florida  Surfing   nan
3491          1968     USA  Florida  Surfing   nan
6201  Beforer 1994     USA  Florida  Surfing   nan

In [38]:
# Elimino los registros de los cuales no tengo referencia al mes en el que ocurrió

df_clean=df_clean.drop(df_clean[df_clean.Month == "nan"].index)

#### ELIMINO LA COLUMNA "DATE" YA QUE PARA MI ANÁLISIS USARÉ LA COLUMNA "MONTH"

In [39]:
df_clean=df_clean.drop(["Date"], axis=1)

#### GUARDO EL ARCHIVO COMO .CSV

In [40]:
df_clean.to_csv("data/sharkattack_limpio.csv")